:host {
  display: block;
  text-align: center;
  padding: 2rem;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.mood-display {
  display: flex;
  flex-direction: column;
  align-items: center; /* optioneel, voor centrering */
  gap: 1rem;            /* optioneel, ruimte tussen elementen */
  text-align: center;
}

.mood-image-selected {
  width: 70px; // of wat je wilt
  display: block;
  margin: 0 auto;
}

.mood-image {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-radius 0.2s ease;
}

.mood-image:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%; 
}

.mood-image.selected {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%; 
}

.text {
  font-size: 1.2rem;
  color: #666;
  width: 100%;
}

.mood-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

button {
  background-color: #a8dadc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
}

