:host {
  display: block;
  text-align: center;
  padding: 2rem;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mood-display {
  display: flex;
  flex-direction: column;
  align-items: center; /* optioneel, voor centrering */
  gap: 1rem;            /* optioneel, ruimte tussen elementen */
  text-align: center;
}

.mood-image2 {
  width: 100px; // of wat je wilt
  display: block;
  margin: 0 auto;
}

.mood-image {
  width: 75px;
  height: 75px;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-radius 0.2s ease;
}

.mood-image:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%; /* Makes the image circular on hover */
}

